.task{
    background: rgb(236, 236, 236);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;

}
h3{
    display: flex;
    justify-content: space-between;
}
.task.reminder{
    border-left: 5px solid green;
}